{% assign rating_from = from | plus: 0 %}

<div class="center">
  {% if block.settings.icon_amazon == true %}
    {% if rating_from == 2 %}
      <p class="review-source">From Amazon</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <g fill-rule="nonzero" fill="none">
          <path fill="#1F2329" d="M8 0a8 8 0 1 0 .001 16.001A8 8 0 0 0 8 0Z" />
          <path fill="#FFF" d="M8.105 3.036c.38 0 .725.046 1.032.137.308.093.556.206.74.341.184.134.337.288.462.46.123.17.21.33.257.476.049.146.072.28.072.407v3.26c0 .113.025.231.077.353.051.121.112.228.182.321.07.093.14.177.214.255.073.077.136.138.19.177l.073.06-1.295 1.24a19.778 19.778 0 0 1-.78-.74l-.11-.112a1.116 1.116 0 0 1-.142-.182c-.145.218-.33.407-.556.568a2.38 2.38 0 0 1-.726.352 3.416 3.416 0 0 1-.799.127 2.06 2.06 0 0 1-.784-.116 2.43 2.43 0 0 1-.67-.363 1.587 1.587 0 0 1-.474-.625 2.182 2.182 0 0 1-.177-.9c0-.31.054-.595.159-.852.107-.259.243-.473.41-.644.169-.172.37-.325.608-.46.237-.133.471-.238.7-.315.228-.075.475-.14.74-.191.267-.052.494-.086.683-.102.19-.016.379-.029.568-.036V5.23c0-.242-.041-.42-.12-.538-.128-.195-.359-.293-.69-.293-.024 0-.054.002-.095.006-.04.003-.118.026-.23.066a1.418 1.418 0 0 0-.32.162 1.564 1.564 0 0 0-.322.329 1.847 1.847 0 0 0-.273.532l-1.679-.15c0-.222.043-.441.125-.66.084-.217.211-.426.382-.624.172-.2.377-.375.617-.525.239-.152.528-.271.864-.363a4.152 4.152 0 0 1 1.087-.135Zm.654 3.918a4.11 4.11 0 0 0-.634.066c-.198.037-.4.1-.607.185a1.13 1.13 0 0 0-.497.393 1.072 1.072 0 0 0-.185.634c0 .318.134.563.4.736a.92.92 0 0 0 .793.121c.32-.093.535-.32.65-.68.053-.166.08-.352.08-.559v-.896Z" />
          <path fill="#F1941D" d="M3.17 10.512c.025.002.046.011.066.025.73.433 1.301.738 1.712.918 1.48.65 3 .816 4.56.499a10.363 10.363 0 0 0 2.23-.747.249.249 0 0 1 .148-.016c.04.01.062.043.062.096 0 .05-.028.113-.085.183-.05.059-.134.139-.252.24-.118.102-.3.227-.545.377-.245.15-.514.286-.804.41-.29.123-.648.23-1.073.32-.423.092-.86.137-1.309.137-.453 0-.905-.058-1.359-.172a6.103 6.103 0 0 1-1.192-.423 7.953 7.953 0 0 1-.984-.575 7.608 7.608 0 0 1-.757-.58 5.477 5.477 0 0 1-.48-.484.242.242 0 0 1-.056-.091c-.007-.027-.006-.05.005-.066a.127.127 0 0 1 .047-.04.133.133 0 0 1 .066-.01Zm9.316-.08c.235.022.38.066.434.132.04.063.044.191.012.388a2.557 2.557 0 0 1-.162.568c-.129.305-.291.535-.484.685-.065.052-.115.068-.149.05-.033-.018-.033-.062 0-.132.08-.166.165-.39.254-.673.09-.282.102-.464.038-.545a.206.206 0 0 0-.09-.064.597.597 0 0 0-.153-.034c-.063-.007-.12-.01-.168-.014a1.838 1.838 0 0 0-.2 0l-.076.003-.105.008a15.613 15.613 0 0 1-.305.026.912.912 0 0 1-.136.015l-.048.005-.04.004h-.056l-.018-.004-.01-.009-.01-.016c-.023-.059.066-.132.268-.221.202-.09.398-.145.588-.166.175-.027.38-.027.616-.006Z" />
        </g>
      </svg>
    {% endif %}
  {% endif %}
</div>