<mkt-review-sort>
  <span id="sort-btn">Featured</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    width="16"
    height="16">
    <g fill-rule="evenodd" fill="none">
      <path d="M0 0h16v16H0z" />
      <path
        data-follow-fill="#646A73"
        fill-rule="nonzero"
        fill="#646A73"
        class="arrow"
        d="m8.354 11.246 4.792-4.792a.5.5 0 0 0-.353-.854H3.207a.5.5 0 0 0-.353.854l4.792 4.792a.5.5 0 0 0 .708 0Z" />
    </g>
  </svg>
  <div class="sort-list">
    <div class="list-item" data-sort-key="" data-sort-dir="">
      <span>Featured</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          d="m11.77 5.254-4.211 5.84a.636.636 0 0 1-1.034 0L4.03 7.638a.16.16 0 0 1 .13-.254h.938c.204 0 .398.098.518.266L7.04 9.626l3.144-4.36A.64.64 0 0 1 10.703 5h.938a.16.16 0 0 1 .13.254Z"
          fill="#1f2329"
        />
      </svg>
    </div>
    <div class="list-item" data-sort-key="date" data-sort-dir="DESC">
      <span>Most recent</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          d="m11.77 5.254-4.211 5.84a.636.636 0 0 1-1.034 0L4.03 7.638a.16.16 0 0 1 .13-.254h.938c.204 0 .398.098.518.266L7.04 9.626l3.144-4.36A.64.64 0 0 1 10.703 5h.938a.16.16 0 0 1 .13.254Z"
          fill="#1f2329"
        />
      </svg>
    </div>

    <div class="list-item" data-sort-key="rating" data-sort-dir="DESC">
      <span>Highest rating</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          d="m11.77 5.254-4.211 5.84a.636.636 0 0 1-1.034 0L4.03 7.638a.16.16 0 0 1 .13-.254h.938c.204 0 .398.098.518.266L7.04 9.626l3.144-4.36A.64.64 0 0 1 10.703 5h.938a.16.16 0 0 1 .13.254Z"
          fill="#1f2329"
        />
      </svg>
    </div>
    <div class="list-item" data-sort-key="rating" data-sort-dir="ASC">
      <span>Lowest rating</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          d="m11.77 5.254-4.211 5.84a.636.636 0 0 1-1.034 0L4.03 7.638a.16.16 0 0 1 .13-.254h.938c.204 0 .398.098.518.266L7.04 9.626l3.144-4.36A.64.64 0 0 1 10.703 5h.938a.16.16 0 0 1 .13.254Z"
          fill="#1f2329"
        />
      </svg>
    </div>
    <div class="list-item" data-sort-key="photo" data-sort-dir="DESC">
      <span>Photo first</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          d="m11.77 5.254-4.211 5.84a.636.636 0 0 1-1.034 0L4.03 7.638a.16.16 0 0 1 .13-.254h.938c.204 0 .398.098.518.266L7.04 9.626l3.144-4.36A.64.64 0 0 1 10.703 5h.938a.16.16 0 0 1 .13.254Z"
          fill="#1f2329"
        />
      </svg>
    </div>
  </div>
</mkt-review-sort>